/* Pull In Noto Sans JP, Serif JP and Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* GLOBAL FORMATTING */

.card {
  font-family: "Noto Sans", "Arial";
  font-size: 20px;
  text-align: center;
}

.jp {
	font-family: "Noto Serif JP", serif;
}

.front {
	background-color: #A8C6D0;
	border-radius: 15px;
	padding: 5px 10px 6px 10px;
}

.back {
  background-color: #A8C6D0;
	border-radius: 15px;
  padding: 5px 10px 6px 10px;
}

input[type=text] {
  width: 100%;
  text-align: center;
  padding: 12px 0px;
  font-size: 25px;
	border-radius: 15px;
}

.typed-answer {
 font-family: Monospoace;
 font-size: 4rem;
 padding-bottom: 20px;
}

.input-instructions {
	font-family: "Noto Sans", "Arial";
  text-align: left;
  font-size: 1rem;
}

.prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 7rem;
  font-kerning: normal;
  font-feature-settings: "palt";
	--text-fg: #575e6f;
  --text-bg: rgba(127, 158, 169, .7);
	text-shadow: 0.2rem 0.2rem 0 var(--text-bg);
}

.mobile .prompt{
  font-size: 5rem;
}

.hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c3b3aa;
    margin: 2px 10px 0px 0px;
}

.section-title {
  padding: 15px 0px 15px 15px;
  font-size: 20px;
	font-weight: bold;
  text-align: left;
  color: #222;
}

/* MEANING SECTION */
.meaning-text{
	font-family: "Couier New", monospace;
	font-weight: bold;
	color: #555c6e;
  --text-bg: rgba(255, 255, 255, .5);
	text-shadow: 0.1rem 0.1rem 0 var(--text-bg);
  font-size: 1.1em;
	margin: 0px 20px 0px 20px;
}

.meaning-box {
 margin: 10px 10px 10px 10px;
 padding: 10px 0px 10px 0px;
 border-radius: 15px;
 background-color: #f7f7f7;
 box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 0px 0px;

}

/* READING SECTION */
.reading-box {
  border: dashed 1px;
	border-color: #2a1b0a;
	color: #2a1b0a;
	margin: 10px 10px 10px 10px;
	padding: 10px 0px 0px 0px;
	border-radius: 15px;
	background-color: #f7f7f7;
}

.reading {
	font-family: "Noto Sans JP", sans-serif;
	font-size: 40px;
	text-align: center;
	color: #2a1b0a;
}

/* VERB INFO TABLE */
.verbInfo {
  font-family: "Open Sans", sans-serif;
	margin-left: auto;
	margin-right: auto;
	border-radius: 14px;
  line-height: 1.5em;
  padding: 0.0em 0.0em;
	font-size: 0.75em;
  color: #222;
	width: 90%;
	border-collapse: collapse;
  border: 1px solid #bbb;
}

.verbInfo th {
	background: #ddd;
	border-bottom: 2px solid #bbb;
  font-size: 0.9em;
}

/* CONJUGATION TABLE */

table.conjugationTable {
  text-align: left;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: 20px;
  line-height: 1.5em;
	width: 90%;
  /* border: 1px solid #bbb; */
}

.tableHeader {
	font-weight: bold;
	background: #ddd;
  font-size: 0.75em;
	border-bottom: 2px solid #aaa;
}

.conjugationTable .jp {
  font-size: .75em;
}

.label {
  font-weight: bold;
  font-size: .70em;
  padding-left: 5px;
}

/* .groupA {
	background-color: #fff;
} */

.groupB {
	background-color: #e1e1e1;
}

.groupB.B1, .groupA.A1 {
	border-top: 1px solid #aaa;
}

.groupB.B2, .groupA.A2 {
	border-bottom: 1px solid #aaa;
}

/* TAG CONTAINER */

.tag-box {
 font-family: Monospace;
 color: #000;
 background-color: #f9f9f9;
 border-radius: 4px;
 border: 1px solid;
 border-color: #d9d9d9;
 display: inline-block;
 font-size: .7em;
 height: 15px;
 padding: 5px;
 margin: 3px;
 text-align: center;
}

#tags-container {
 margin: 6px;
}