/* Anki - Shared Styles - Typed Paper - r1.0 */
/* github.com/WrinkleRelease */

/* This stylesheet contains the CSS elements shared by all three card types */

/** MARK: Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*,
:after,
:before {
    box-sizing: border-box;
}

/** MARK: Color Variables 
    */
:root {

    --color-radical: #58bffc;
    --color-radical-dark: #0093dd;
    --color-radical-gradient: linear-gradient(to bottom,
            var(--color-radical),
            var(--color-radical-dark));
    --color-kanji: #ff00aa;
    --color-kanji-dark: #dd0093;
    --color-kanji-gradient: linear-gradient(to bottom,
            var(--color-kanji),
            var(--color-kanji-dark));
    --color-vocab: #9735c9;
    --color-vocab-dark: #9300dd;
    --color-vocab-gradient: linear-gradient(to bottom,
            var(--color-vocab),
            var(--color-vocab-dark));
    --color-reading: #555;
    --color-reading-dark: #484848;
    --color-reading-gradient: linear-gradient(to bottom,
            var(--color-reading),
            var(--color-reading-dark));
    --shadow-text-1: 0px 0px 3px rgba(18, 15, 15, 0.2), 1px 1px 4px rgba(215, 215, 215, 0.2);
    --color-translations: rgba(138, 138, 138, 0.9);
    --color-text-light: #f1f3f4;
    --color-text-main: #181818;
}

.card {
    font-family: "Noto Sans", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 1.5em;
    text-align: center;
}

.front {
    margin: 0 auto;
}

/** MARK:  Color Highlights 
    */
.no-break {
    text-wrap: nowrap;
    white-space: nowrap;
    white-space-collapse: collapse;
}

mark {
    border-radius: 4px;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    color: var(--color-text-light);
    display: inline-block;
    font-size: inherit;
    line-height: 0.95em;
    padding: 3px 3px 4px 3px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-wrap: nowrap;
    white-space: nowrap;
}

mark.kanji {
    background: var(--color-kanji-gradient);
    font-family: "Noto Sans JP", sans-serif;
}

mark.radical {
    background: var(--color-radical-gradient);
}

mark.vocab {
    background: var(--color-vocab-gradient);
}

mark.rdng {
    background: var(--color-reading-gradient);
}

/** MARK: Answer Input
*/
input[type="text"] {
    border-radius: 10px;
    color: white;
    font-family: "Prestige Elite Bold", monospace;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
    max-width: 90%;
    padding: 12px 0px;
    text-align: center;
}

.typed-answer {
    font-family: "Prestige Elite Normal", monospace;
    font-size: 1.5rem;
    font-weight: "300";
    padding-bottom: 10px;
}

/** MARK: Hint
*/
.button {
    margin-bottom: 10px;
    padding: 4px 16px;
}

button:after {
    content: "Show reading hint";
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px 50px 0px 50px;
}

#r-hint {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

/* Style the inner hint box */
#r-hint>div {
    background: #777;
    border: dashed 1px #222;
    border-radius: 10px;
    color: #fff;
    font-family: "Prestige Elite Normal", monospace;
    font-size: .8em;
    max-width: 80%;
    padding: 20px;
    text-align: center;
}

/** MARK: Tags
    */
.tag-box {
    border: 1px solid var(--color-main-text);
    border-radius: 10px;
    color: var(--color-main-text);
    display: inline-block;
    font-family: "Prestige Elite Normal", monospace;
    font-size: 0.6em;
    margin: 0px 5px 0px 0px;
    overflow: hidden;
    padding: 5px 10px 5px 10px;
}

#tags-container {
    max-width: 90%;
    margin: 10px 20px 0px 20px;
}

/** MARK: Content Formatting
*/
.body-content {
    line-height: 1.35em;
    padding: 0px 5px 10px 5px;
}

.hints-box {
    border-radius: 15px;
    font-family: "Prestige Elite Normal", monospace;
    font-size: 0.8em;
    line-height: 1.5em;
    padding: 0px 20px 15px 20px;
}

.hints-box .title {
    font-weight: bold;
}

@font-face {
    font-family: "Prestige Elite";
    src: url("_Prestige Elite Normal.ttf");
}

@font-face {
    font-family: "Prestige Elite Bold";
    src: url("_Prestige Elite Bold.ttf");
}