/* Anki - Radicals Card - Glass Panes - r1.1 */
/* github.com/WrinkleRelease */


/** MARK: External Stylesheet
*/
@import url("_glasspanes-shared-styles.css");

/** MARK: Breakpoints
*/
/* iPhone */

.iphone {
    .prompt {
        font-size: 6em;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .prompt {
        font-size: 7em;
    }
}

/** MARK: Front
*/
.front {
    align-content: center;
    background-color: var(--color-radical);
    border-radius: 20px;
    color: #fafafa;
}

.prompt {
		font-family: "Noto Sans JP", sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/** MARK: Back
*/
.back {
    background-color: #fafafa;
    background-image: url(_bg-bluepaper01.jpg);
    background-size: 15%;
    border-radius: 20px;
    color: var(--color-radical);
    padding: 20px;
}

.back-container {
    border: 1px solid rgba(88, 191, 252, 0.2);
    border-radius: 40px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-areas:
        "section-1a"
        "section-1b";
    margin: 0 auto;
    overflow: hidden;
}

.section-1a {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.9);
    display: grid;
    grid-area: section-1a;
    grid-template-areas:
        "prompt"
        "typed-answer";
    grid-template-rows: repeat(2, auto);
}

.section-1b {
    backdrop-filter: blur(1px);
		background-color: rgba(88, 191, 252, 0.2);
    display: grid;
    grid-area: section-1b;
    grid-auto-flow: row;
    grid-template-areas:
        "memory-hint"
        "mnemonic-text";
    grid-template-rows: repeat(2, auto);
}

.memory-hint {
    color: var(--color-main-text);
    grid-area: memory-hint;
    padding: 10px 20px 0px 20px;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.mnemonic-text {
    color: var(--color-main-text);
    font-size: 1em;
    grid-area: mnemonic-text;
    padding: 0px 20px 20px 20px;
    text-align: left;
}