/* Anki - Kanji Card - Glass Panes - r1.1 */
/* github.com/WrinkleRelease */


/* Pull in fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

/* Breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .prompt {
        font-size: 2.5em;
        margin-top: 0px;
    }

    .meaning {
        font-size: 1.0em;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        max-width: 600px;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.5em 10px 1.5em;
    }

    .section-3a {
        padding: 15px 1.5em 5px 1.5em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.5em 1.7em 1.5em;
    }

    .reading-type,
    .patterns-title {
        font-size: 0.9em;
    }

    .use-patterns {
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }

    .patterns-title {
        align-self: center;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .prompt {
        font-size: 4em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.0em;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        width: 600px;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.7em 10px 1.7em;
    }

    .section-3a {
        padding: 15px 1.7em 5px 1.7em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.7em 1.7em 1.7em;
    }

    .patterns-title {
        align-self: center;
    }

    .use-patterns {
        display: inline-block;
        margin: 0px 5px 5px 0px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .prompt {
        font-size: 4.1em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.2em;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        max-width: 600px;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.7em 10px 1.7em;
    }

    .section-3a {
        padding: 15px 1.7em 5px 1.7em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.7em 1.7em 1.7em;
    }

    .patterns-title {
        align-self: center;
    }

    .use-patterns {
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .prompt {
        font-size: 4.1em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.3em;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        width: 700px;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.7em 10px 1.7em;
    }

    .section-3a {
        padding: 15px 1.7em 5px 1.7em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.7em 1.7em 1.7em;
    }

    .patterns-title {
        align-self: center;
    }

    .use-patterns {
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }

}

*,
:after,
:before {
    box-sizing: border-box;
}

/* Color Variables */
:root {
    --color-translations: rgba(255, 255, 255, 0.75);
    --color-main-text: #1d1d1d;
    --color-radical: #58bffc;
    --color-radical-dark: #0093dd;
    --color-radical-gradient: linear-gradient(to bottom,
            var(--color-radical),
            var(--color-radical-dark));
    --color-kanji: #ff00aa;
    --color-kanji-dark: #dd0093;
    --color-kanji-gradient: linear-gradient(to bottom,
            var(--color-kanji),
            var(--color-kanji-dark));
    --color-vocab: #9735c9;
    --color-vocab-dark: #9300dd;
    --color-vocab-gradient: linear-gradient(to bottom,
            var(--color-vocab),
            var(--color-vocab-dark));
    --color-reading: #555;
    --color-reading-dark: #484848;
    --color-reading-gradient: linear-gradient(to bottom,
            var(--color-reading),
            var(--color-reading-dark));
    --type-shadow-1: 0px 0px 3px rgba(18, 15, 15, 0.2),
        1px 1px 4px rgba(215, 215, 215, 0.2);
}

.card {
    text-align: center;
    font-family: "Noto Sans", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
}

/* Color Highlights */
.no-break {
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
}

mark {
    color: #ffffff;
    font-size: inherit;
    border-radius: 4px;
    display: inline-block;
    line-height: 0.95em;
    padding: 3px 3px 4px 3px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    white-space: nowrap;
    text-wrap: nowrap;
}

mark.kanji {
    font-family: "Noto Sans JP";
    background: var(--color-kanji-gradient);
}

mark.radical {
    background: var(--color-radical-gradient);
}

mark.vocab {
    background: var(--color-vocab-gradient);
}

mark.rdng {
    background: var(--color-reading-gradient);
}


/* Front */
.front {
    background-color: var(--color-kanji);
    border-radius: 20px;
    color: #fafafa;
    padding: 5px 10px 6px 10px;
    border-radius: 30px;
}

input[type="text"] {
    width: 100%;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 12px 0px;
    border-radius: 10px;
    font-size: 1.2em;
}

.typed-answer {
    font-family: "Fira Mono", monospace;
    font-weight: "300";
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.input-instructions {
    font-family: "Noto Sans", "Arial";
    text-align: left;
    font-size: 1rem;
}

/* Back */
.back {
    background-image: url("_bg-bluepaper01.jpg");
    background-size: 30%;
    background-color: #a2b8bc;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 0px 0px 30px 0px;
}

.body-content, .hintsBox {
		line-height: 1.5em;
}

.hintsBox {
    
}

/* Tag Containers */
.tag-box {
    display: inline-block;
    font-family: "Fira Mono", monospace;
    color: var(--color-main-text);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
    font-size: 0.6em;
    padding: 5px 15px 5px 15px;
    margin: 0px 5px 0px 0px;
}

#tags-container {
    margin: 0px 20px 0px 20px;
}

/* Front Reading Hints */
.button {
    padding: 4px 16px;
    margin-bottom: 10px;
}

button:after {
    font-size: 18px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    content: "Show reading hint";
}

.r-hint-box {
    border: dashed 1px;
    border-radius: 5px;
    margin: 10px 30px 10px 30px;
    padding: 0px 15px 0px 15px;
    border-color: #222;
    background-color: #777;
}

.r-hint-text {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    color: #fff;
}

.ipad .r-hint-text {
    font-size: 1em;
    padding: 10px 0px 10px 0px;
    color: #fff;
}