/* JAPANESE VOCAB CARD */

/* Pull In Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT@9..144,100..900,0..100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');

/* Global Formatting */
:root {
  --color-main-text: #292623;
  --color-hintsBox: #5d554f;
  --color-translations: #c4b5ab;
  --color-input-instructions: #f2f2f2;
  --color-radical: #58BFFC;
  --color-radical-dark: #0093dd;
  --color-radical-gradient: linear-gradient(to bottom,
      var(--color-radical),
      var(--color-radical-dark));
  --color-kanji: #ff00aa;
  --color-kanji-dark: #dd0093;
  --color-kanji-gradient: linear-gradient(to bottom,
      var(--color-kanji),
      var(--color-kanji-dark));
  --color-vocab: #aa00ff;
  --color-vocab-dark: #9300dd;
  --color-vocab-gradient: linear-gradient(to bottom,
      var(--color-vocab),
      var(--color-vocab-dark));
  --color-reading: #555;
  --color-reading-dark: #484848;
  --color-reading-gradient: linear-gradient(to bottom,
      var(--color-reading),
      var(--color-reading-dark));
  --box-bg-dark: #e0d4c9;
}

a {
  color: #f400a3;
}

.card {
  font-family: "Noto Sans", "Helvetica", "Arial";
  font-size: 1.5em;
  text-align: center;
}

/* Main Content */
.body-content {
  margin-top: 15px;
  line-height: 1.5em;
}

.front {
  color: #fafafa;
  background-color: var(--color-vocab);
  padding: 5px 10px 6px 10px;
  border-radius: 10px;
}

.back {
  color: var(--color-vocab);
  background-color: #fafafa;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  font-family: "Kaisei HarunoUmi";
  font-weight: 300;
  font-variation-settings: 
    "SOFT" 0;
  color: var(--color-input-instructions);
  text-align: center;
  padding: 12px 0px;
  font-size: 1.2em;
}

.typed-answer {
  font-family: "Kaisei HarunoUmi";
  font-weight: "300";
  font-size: 3rem;
  padding-bottom: 20px;
}

.input-instructions {
  font-family: "Noto Sans", "Arial";
  text-align: left;
  font-size: 1rem;
}

.prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 7rem;
  font-kerning: normal;
  text-shadow: 2px 2px 0.5px #9300dd;
}

/* Device Specific Formatting */
.iphone .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4em;
  text-shadow: 0.5px 2px 0px #9300dd;
}

.ipad .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4em;
  text-shadow: 0.5px 2px 0px #9300dd;
}

.ipad .ipad-format {
  font-size: 1.05em;
  ling-height: 1em;
}

.ipad .ipad-position {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* .mobile .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 6rem;
	text-shadow: 0.5px 1.5px 0px #9300dd;
} */

/* Divider and Media Buttons */
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #444444;
  margin: 0 20px 10px 20px;
  padding: 0;
}

.replay-button svg {
  width: 20px;
  height: 20px;
  stroke-width: 3px;
}

.replay-button svg circle {
  fill: transparent;
}

.replay-button svg path {
  fill: #444444;
}

/* Meaning & Reading */
.meaning-text,
.reading {
  color: var(--color-main-text);
}

.meaning-text {
  font-family: "Fraunces";
  font-size: 1.0em;
  font-weight: 400;
  font-variation-settings:
    "SOFT" 0;
  margin: 0px 20px 0px 20px;
}

.meaning-box {
  border: dashed 1px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 0px 10px 0px;
  border-color: #333;
}

.reading-box {
  border: dashed 1px;
  border-color: #2a1b0a;
  border-radius: 10px;
  margin: 15px 10px 0px 10px;
  padding: 20px 0px 0px 0px;
  background-color: #eee5dc;
}

.reading {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 1.2em;
  text-align: center;
  padding: 5px 0px 0px 0px;
}

.serif {
  font-family: "Kaisei HarunoUmi", serif;
  font-size: 1.1em;
}

/* Reading Table Formatting */
tr td:first-child {
  padding-left: 0px;
}

td {
  padding: 0px 60px 0px 0px;
}

/* Notes Section */
.notes {
  border: dashed 2px;
  border-radius: 10px;
  margin: 20px 10px 10px 10px;
  padding: 0 0 20px 0;
  line-height: 1.5rem;
  border-color: #333;
}

.notes-title {
  padding: 20px 0 5px 20px;
  font-family: "Fraunces";
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 800;
  font-variation-settings: 
    "SOFT" 0;
  text-align: left;
  color: var(--color-hintsBox);
}

.notes-text {
  font-size: 18px;
  padding: 0px 15px 15px 20px;
  text-align: left;
  color: #54514e;
}

/* Hints Box */

/* hintsBox is also called from a few Note fields using HTML */
.hintsBox {
  margin: 10px 0px 5px -2px;
  padding: 1px 10px 10px 10px;
  border-radius: 5px;
  color: var(--color-hintsBox);
  background-color: #e0d4c9;
}

.hintsBox p:nth-of-type(2) {
  margin-top: -8px;
  margin-bottom: 3px;
}

.hintsBox .title {
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 600;
}

.use-patterns {
  font-family: "Kaisei HarunoUmi";
  font-size: 1em;
  border: solid 1px #d1beaf;
  border-radius: 5px;
  text-align: left;
  padding: 3px 3px 1px 3px;
  margin-right: 3px;
  margin-bottom: 2px;
  display: inline-flex;
}

#patterns-container {
  margin-top: -8px;
  margin-bottom: 0px;
}

#wtype-container {
  margin-top: -8px;
  margin-bottom: 3px;
}

.word-type {
  font-size: 0.9em;
  border: solid 1px #d1beaf;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  margin-bottom: 2px;
}

.rdng-container {
  margin-top: -10px;
	margin-bottom: 3px;
}

#rdng-box {
  font-family: "Kaisei HarunoUmi";
  border: solid 1px brown;
  border-radius: 5px;
  border-color: #d1beaf;
  padding: 3px 3px 1px 3px;
  margin-right: 5px;
  display: inline-flex;
}

/* Front Reading Hints */
.button {
  padding: 4px 16px;
  margin-bottom: 10px;
}

button:after {
  font-size: 18px;
  padding: 0px 50px 0px 50px;
  margin-bottom: 10px;
  content: "Show reading hint";
}

.r-hint-box {
  border: dashed 1px;
  border-radius: 5px;
  margin: 10px 30px 10px 30px;
  padding: 0px 15px 0px 15px;
  border-color: #222;
  background-color: #777;
}

.r-hint-text {
  font-size: 18px;
  padding: 10px 0px 10px 0px;
  color: #fff;
}

/* ipad specific hint formatting */
/* .ipad button:after {
  font-size: 1em;
  padding: 0px 50px 0px 54px;
  margin-bottom: 10px;
  content: "Show reading hint";
} */

.ipad .r-hint-text {
  font-size: 1em;
  padding: 10px 0px 10px 0px;
  color: #fff;
}

/* Tag Containers */
.tag-box {
  font-family: "Courier New", monospace;
  color: var(--color-main-text);
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid;
  border-color: #d9d9d9;
  display: inline-block;
  font-size: 0.6em;
  height: 15px;
  padding: 5px;
  margin: 3px;
  text-align: center;
}

#tags-container {
  margin: 6px;
}

/* Color Highlights */
.no-break {
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
}

mark {
  color: #ffffff;
  font-size: inherit;
  border-radius: 4px;
  display: inline-block;
  line-height: .95em;
  padding: 3px 3px 4px 3px;
  text-align: center;
  margin: 0px 0.3px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  white-space: nowrap;
  text-wrap: nowrap;
}

mark.kanji {
  background: var(--color-kanji-gradient);
}

mark.radical {
  background: var(--color-radical-gradient);
}

mark.vocab {
  background: var(--color-vocab-gradient);
}

mark.rdng {
  background: var(--color-reading-gradient);
}

#comp-contents mark {
  margin: 0px 2px 0px 0px;
}

#comp-container {
  margin-top: -5px;
  margin-bottom: 5px;  
}

.comp-box {
  border: solid 1px brown;
  border-radius: 5px;
  border-color: #d1beaf;
  padding: 5px;
  display: inline;
}

/* Context Sentences with JS */

/* #context-sentences {
  display: none;
}

#parsed-sentences {
  padding-top: 8px;
  padding-left: 3px;
}

.translation {
  color: var(--color-translations);
} */

/* Context Sentences w/o JS */
/* to be used until JS behavior is consistent in Anki */

 *[class^='sen'] { 
  font-family: "Kaisei HarunoUmi";
  font-size: 1.1em;
  display: block;
  margin-top: 1em;
}

 *[class^='tran'] {
  display: block;
  font-size: 1.0m;
  background-color: var(--color-translations);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  margin-bottom: 1.0em;
}

*[class^='tran']:last-child {
  margin-bottom: -1.0em;
}