/* JAPANESE VOCAB CARD */

/* Pull In Noto Sans JP */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* Global Formatting */
:root {
  --color-main-text: #292623;
  --color-hintsBox: #5d554f;
  --color-translations: #83776f;
  --color-radical: #58BFFC;
  --color-radical-dark: #0093dd;
  --color-radical-gradient: linear-gradient(to bottom,
      var(--color-radical),
      var(--color-radical-dark));
  --color-kanji: #ff00aa;
  --color-kanji-dark: #dd0093;
  --color-kanji-gradient: linear-gradient(to bottom,
      var(--color-kanji),
      var(--color-kanji-dark));
  --color-vocab: #aa00ff;
  --color-vocab-dark: #9300dd;
  --color-vocab-gradient: linear-gradient(to bottom,
      var(--color-vocab),
      var(--color-vocab-dark));
  --color-reading: #555;
  --color-reading-dark: #484848;
  --color-reading-gradient: linear-gradient(to bottom,
      var(--color-reading),
      var(--color-reading-dark));
}

a {
  color: #f400a3;
}

.card {
  font-family: "Helvetica", "Arial";
  font-feature-settings: "palt";
  font-size: 20px;
  text-align: center;
}

/* Main Content */
.body-content {
  margin-top: 15px;
  line-height: 1.55em;
}

.front {
  color: #fafafa;
  background-color: var(--color-vocab);
  padding: 5px 10px 6px 10px;
  border-radius: 10px;
}

.back {
  color: var(--color-vocab);
  background-color: #fafafa;
  border-radius: 10px;
}

input[type="text"] {
  width: 100%;
  font-family: Monospace;
  text-align: center;
  padding: 12px 0px;
  font-size: 25px;
}

.typed-answer {
  font-family: Monospace;
  font-size: 4rem;
  padding-bottom: 20px;
}

.input-instructions {
  font-family: "Helvetica", "Arial";
  text-align: left;
  font-size: 1rem;
}

.prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 7rem;
  font-kerning: normal;
  text-shadow: 2px 2px 0.5px #9300dd;
}

/* Device Specific Formatting */
.iphone .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 6em;
  text-shadow: 0.5px 1.5px 0px #9300dd;
}

.ipad .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 8em;
  text-shadow: 0.5px 1.5px 0px #9300dd;
}

.ipad .ipad-format {
  font-size: 1.05em;
  ling-height: 2em;
}

.ipad .ipad-position {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
}

/* .mobile .prompt {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 6rem;
	text-shadow: 0.5px 1.5px 0px #9300dd;
} */

/* Divider and Media Buttons */
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #444444;
  margin: 0 20px 10px 20px;
  padding: 0;
}

.replay-button svg {
  width: 20px;
  height: 20px;
  stroke-width: 3px;
}

.replay-button svg circle {
  fill: transparent;
}

.replay-button svg path {
  fill: #444444;
}

/* Meaning & Reading */
.meaning-text,
.reading {
  color: var(--color-main-text);
}

.meaning-text {
  font-family: "Couier New", monospace;
  font-weight: bold;
  font-size: 0.95em;
  margin: 0px 20px 0px 20px;
}

.meaning-box {
  border: dashed 1px;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px 0px 10px 0px;
  border-color: #333;
}

.reading-box {
  border: dashed 1px;
  border-color: #2a1b0a;
  border-radius: 10px;
  margin: 15px 10px 0px 10px;
  padding: 20px 0px 0px 0px;
  background-color: #eee5dc;
}

.reading {
  font-family: "Noto Sans";
  font-size: 0.8em;
  text-align: center;
  padding: 5px 0px 0px 0px;
}

/* Reading Table Formatting */
tr td:first-child {
  padding-left: 0px;
}

td {
  padding: 0px 60px 0px 0px;
}

/* Notes Section */
.notes {
  border: dashed 2px;
  border-radius: 10px;
  margin: 20px 10px 10px 10px;
  padding: 0 0 20px 0;
  line-height: 1.5rem;
  border-color: #333;
}

.notes-title {
  padding: 20px 0 5px 20px;
  font-size: 20px;
  text-align: left;
  color: #444444;
}

.notes-text {
  font-size: 16px;
  padding: 0px 15px 15px 20px;
  text-align: left;
  color: #54514e;
}

/* Hints Box */

/* hintsBox is also called from a few Note fields using HTML */
.hintsBox {
  margin: 7px 0px 5px 0px;
  padding: 1px 10px 8px 10px;
  border-radius: 5px;
  color: var(--color-hintsBox);
  background-color: #e5dad0;
}

.hintsBox p:nth-of-type(2) {
  margin-top: -8px;
  margin-bottom: 3px;
}

.hintsBox .title {
  font-weight: bold;
}

.use-patterns {
  font-size: 0.8em;
  border: solid 1px brown;
  border-radius: 5px;
  text-align: left;
  border-color: #d7c7ba;
  padding: 3px 3px 1px 3px;
  margin-right: 3px;
  margin-bottom: 2px;
  display: inline-flex;
}

#patterns-container {
  margin-top: -8px;
  margin-bottom: 0px;
}

#wtype-container {
  margin-top: -8px;
  margin-bottom: 3px;
}

.word-type {
  font-size: 0.9em;
  border: solid 1px brown;
  border-radius: 5px;
  text-align: left;
  border-color: #d7c7ba;
  padding: 5px;
  padding-bottom: 5px;
  margin-right: 3px;
  maring-bottom: 2px;
}

/* Front Reading Hints */

.button {
  padding: 4px 16px;
}

button:after {
  font-size: 15px;
  padding: 0px 50px 0px 50px;
  content: "Show reading hint";
}

.r-hint-box {
  border: dashed 1px;
  border-radius: 5px;
  margin: 10px 50px 10px 50px;
  padding: 0px 15px 0px 15px;
  border-color: #222;
  background-color: #777;
}

.r-hint-text {
  font-size: 15px;
  padding: 10px 0px 10px 0px;
  color: #fff;
}

/* Tag Containers */
.tag-box {
  font-family: Monospace;
  color: var(--color-main-text);
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid;
  border-color: #d9d9d9;
  display: inline-block;
  font-size: 0.7em;
  height: 15px;
  padding: 5px;
  margin: 3px;
  text-align: center;
}

#tags-container {
  margin: 6px;
}

/* Color Highlights */
.no-break {
  white-space: nowrap;
  white-space-collapse: collapse;
  text-wrap: nowrap;
}

mark {
  color: #ffffff;
  border-radius: 4px;
  display: inline-block;
  height: 0.95em;
  line-height: 1em;
  padding: 3px 3px 4px 3px;
  text-align: center;
  margin: 0px 1px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
  white-space: nowrap;
  text-wrap: nowrap;
}

mark.kanji {
  background: var(--color-kanji-gradient);
}

mark.radical {
  background: var(--color-radical-gradient);
}

mark.vocab {
  background: var(--color-vocab-gradient);
}

mark.rdng {
  background: var(--color-reading-gradient);
}

#comp-contents mark {
  margin: 0px 2px 0px 0px;
}

/* Context Sentences */

#context-sentences {
  display: none;
}

#parsed-sentences {
  padding-top: 8px;
  padding-left: 3px;
}

.translation {
  color: var(--color-translations);
}