/* Anki - Vocab Card - Glass Panes - r1.1 */
/* github.com/WrinkleRelease */


/** MARK: External Stylesheet
*/
@import url("_glasspanes-shared-styles.css");

/** MARK: Breakpoints 
*/
/* Mobile */
.iphone {

    .prompt {
        font-size: 2.5em;
        margin-top: 0px;
    }

    .meaning {
        font-family: "Fira Code", monospace;
        font-size: 0.9em;
        font-weight: 600;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        width: 90%;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.5em 10px 1.5em;
    }

    .section-3a {
        padding: 15px 1.5em 5px 1.5em;
    }

    .back [class^="section-"][class$="b"] {
        padding: 0px 1.5em 1.7em 1.0em;
    }

    .reading-type,
    .patterns-title {
        font-size: 0.9em;
    }

    .use-patterns {
        display: inline-block;
        font-size: 0.75em;
        margin: 0px 5px 5px 0px;
    }

    .patterns-title {
        align-self: center;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
    .prompt {
        font-size: 4.1em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.2em;
    }

    .meaning-container,
    .reading-container,
    .context-container {
        width: 90%;
    }

    .section-1a,
    .section-2a {
        padding: 15px 1.7em 10px 1.7em;
    }

    .section-3a {
        padding: 15px 1.7em 5px 1.7em;
    }

    [class^="section-"][class$="b"] {
        padding: 0px 1.7em 1.7em 1.0em;
    }

    .patterns-title {
        align-self: center;
    }

    .use-patterns {
        display: inline-block;
        margin: 0px 5px 0px 0px;
    }
}

/** MARK: Front
    */
.front {
    align-content: center;
    background-color: var(--color-vocab);
    border-radius: 20px;
    color: #fafafa;
    padding: 20px;
}

/** MARK: Back
    */
.back {
    background-color: #a2b8bc;
    background-image: url("_bg-bluepaper01.jpg");
    background-size: 30%;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 30px 0px 30px 0px;
}

.meaning-container,
.reading-container,
.context-container {
    display: grid;
    gap: 0;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
    text-align: left;
}

.section-1a,
.section-2a,
.section-3a {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px 40px 0px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.1);
}

.section-1b,
.section-2b,
.section-3b {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 40px 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    grid-auto-flow: row;
}

/** MARK: Meaning Section
    */
.meaning-container {
    grid-template-areas:
        "section-1a"
        "section-1b";
}

.section-1a {
    display: grid;
    gap: 10px;
    grid-area: section-1a;
    grid-auto-flow: row;
    grid-template-areas:
        "prompt prompt section-name"
        "word-type word-type section-name"
        "components components section-name";
    grid-template-columns: auto auto 30px;
    grid-template-rows: repeat(3, auto);
}

.section-name {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
    display: flex;
    font-family: "Fira Code", monospace;
    font-size: .65em;
    grid-area: section-name;
    padding: 10px 10px 10px 10px;
    place-self: start;
    writing-mode: vertical-lr;
}

.section-1a>.prompt {
    color: var(--color-vocab);
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    grid-area: prompt;
    place-self: start;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.front .prompt {
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    padding: 0px 0px 10px 0px;
}

.word-type {
    background-color: #bdb8a6;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-family: "Noto Sans", sans-serif;
    font-size: 0.7em;
    font-weight: normal;
    grid-area: word-type;
    justify-self: center;
    margin-right: 3px;
    padding: 0px 10px 3px 10px;
}

.components {
    align-self: center;
    background-color: rgba(218, 191, 231, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    color: #2d2d2d;
    font-size: 0.8em;
    font-weight: 400;
    grid-area: components;
    justify-self: start;
    padding: 8px 10px 8px 10px;
}

.components mark {
    margin-right: 3px;
}

.components mark:not(:first-child) {
    margin-left: 2px;
}

.section-1b {
    display: grid;
    gap: 0px;
    grid-area: section-1b;
    grid-template-areas:
        "meaning"
        "meaning-notes";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    padding-top: 0.2em;
}

.meaning {
    background-color: rgba(255, 255, 255, 0.0);
    border-bottom: 1px dashed #4d4d4d;
    color: #3d3d3d;
    font-family: "Fira Code", monospace;
    font-weight: 700;
    grid-area: meaning;
    padding: 15px 0px 20px 0px;
    text-align: center;
}

.meaning-notes {
    color: #3d3d3d;
    font-size: 0.9em;
    grid-area: meaning-notes;
    margin-top: 20px;

}

/** MARK: Reading Section
    */
.reading-container {
    grid-template-areas:
        "section-2a"
        "section-2b";
}

.section-2a {
    display: grid;
    gap: 0px;
    grid-area: section-2a;
    grid-template-areas:
        "reading-type section-name"
        "reading section-name";
    grid-template-columns: auto 35px;
    grid-template-rows: auto auto;
    margin-top: 20px;
}

.reading-type {
    align-self: end;
    color: #4d4d4d;
    font-weight: 600;
    grid-area: reading-type;
    justify-self: start;
}

.reading {
    align-self: start;
    font-family: "Noto Serif JP", sans-serif;
    grid-area: reading;
    justify-self: start;
}

.section-2b {
    display: grid;
    grid-area: section-2b;
    grid-template-areas: "reading-notes";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
}

.reading-notes {
    color: #3d3d3d;
    font-size: 0.9em;
    grid-area: reading-notes;
    margin-top: 10px;
}

/** MARK: Context Section
    */
.context-container {
    grid-template-areas:
        "section-3a"
        "section-3b";
}

.section-3a {
    display: grid;
    grid-area: section-3a;
    grid-gap: 0px;
    grid-template-areas:
        "patterns-title section-name"
        "use-patterns  section-name";
    grid-template-columns: auto 35px;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
}

.patterns-title {
    align-content: end;
    color: #4d4d4d;
    font-weight: 600;
    grid-area: patterns-title;
    justify-self: start;
}

.use-patterns {
    background-color: rgba(218, 191, 231, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    font-family: "Noto Serif JP", sans-serif;
    font-size: 0.9em;
    grid-area: use-patterns;
    padding: 2px 5px 2px 5px;
}

.section-3b {
    display: flex;
    grid-area: section-3b;
    margin-bottom: 1.0em;
    overflow: auto;
}


/** MARK: Context Sentences
    /* Context Sentences w/o JS */
/* to be used until JS behavior is consistent in Anki */

*[class^="sen"] {
    color: var(--color-main-text);
    display: block;
    font-family: "Noto Serif JP";
    font-size: 1em;
    margin-top: 1em;
}

*[class^="tran"] {
    color: var(--color-translations);
    display: block;
    font-size: 0.75em;
    font-weight: 300;
    margin-bottom: 1em;
}

*[class^="tran"]:last-child {
    margin-bottom: -0.2em;
}