/* Anki - Kanji Card - Glass Panes - r1.1 */
/* github.com/WrinkleRelease */

/** MARK: External Stylesheet
*/
@import url("_glasspanes-shared-styles.css");

/** MARK: Breakpoints
*/

/* iPhone */
.iphone {

    .front {
        padding-top: 0px;
    }

    .section-1a .prompt {
        align-self: end;
        font-size: 3em;
        justify-self: left;
        margin-top: -5px;
    }

    .section-1a {
        grid-template-columns: auto 50px;
        padding: 15px 1.0em 10px 1.0em;
    }

    .section-3a {
        padding: 15px 1.0em 10px 1.0em;
    }

    .section-1b,
    .section-3b {
        padding: 15px 1em 1.0em 1em;
    }

    .meaning {
        align-self: center;
        font-family: "Fira Code", monospace;
        font-size: 0.85em;
        font-weight: 400px;
        justify-self: left;
        margin-top: -1em;
    }

    .reading {
        align-self: end;
        font-size: 0.9em;
        justify-self: left;
        text-wrap: nowrap;
        white-space: nowrap;
    }

    .sub-container {
        grid-template-columns: 3em auto;
    }

    .components {
        font-size: 0.6em;
    }

    .body-content {
        font-size: 0.9em;
    }

    .hints-box {
        font-size: 0.75em;
    }

    .stroke-order-img {
        width: 50px;
    }

    .body-content {
        line-height: 1.5em;
        padding: 0px 5px 15px 5px;
    }

    .hints-box {
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
        font-family: "Fira Code", monospace;
        font-size: 0.8em;
        line-height: 1.5em;
        padding: 0px 20px 15px 20px;
    }

    .hints-box .title {
        font-weight: bold;
    }
    
}

/** MARK: Front
*/
.front {
    align-content: center;
    background-color: var(--color-kanji);
    border-radius: 20px;
    color: #fafafa;
    padding: 20px;
}

/** MARK: Back
*/
.back {
    background-color: #a2b8bc;
    background-image: url("_bg-bluepaper01.jpg");
    background-size: 30%;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 30px 0px 30px 0px;
}

.meaning-container,
.reading-container {
    gap: 0px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin: 0 auto;
    max-width: 90%;
    text-align: left;
}

.section-1a,
.section-3a {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.6);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 40px 40px 0px 0px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 1.7em 10px 1.7em;
}

.section-1b,
.section-3b {
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 40px 40px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    grid-auto-flow: row;
    padding: 15px 1.7em 1.0em 1.7em;
}

.section-name {
    align-self: start;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
    font-family: "Fira Code";
    font-size: 0.6em;
    grid-area: section-name;
    justify-self: right;
    padding: 10px 10px 10px 10px;
    writing-mode: vertical-lr;
}

/** MARK: Meaning Section
*/
.meaning-container {
    display: grid;
    grid-template-areas:
        "section-1a"
        "section-1b";
    margin-bottom: 20px;
}

.section-1a {
    display: grid;
    gap: 0px 0px;
    grid-area: section-1a;
    grid-template-areas:
        "sub-container section-name"
        "sub-container stroke-order-img";
    grid-template-columns: auto 80px;
    grid-template-rows: repeat(2, auto);
}

.sub-container {
    display: grid;
    gap: 0px 0px;
    grid-area: sub-container;
    grid-auto-flow: row;
    grid-template-areas:
        "prompt reading"
        "prompt meaning"
        "components components";
    grid-template-columns: 4.5em auto;
    grid-template-rows: repeat(3, auto);
}

.stroke-order-img {
    align-self: end;
    display: flex;
    grid-area: stroke-order-img;
    justify-self: right;
    margin-right: -10px;
    width: 80px;
}

.reading {
    align-self: end;
    border: collapse;
    font-family: "Noto Serif JP", serif;
    grid-area: reading;
}

.meaning {
    align-self: start;
    border: collapse;
    color: #3d3d3d;
    font-family: "Fira Code", monospace;
    font-size: 1.2em;
    font-weight: 800;
    grid-area: meaning;
}

.prompt {
    border: collapse;
    color: var(--color-kanji);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 4.5em;
    font-weight: 400;
    grid-area: prompt;
    margin-top: -20px;
    place-self: end;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.front .prompt {
    color: #ffffff;
    font-family: "Noto Sans JP", sans-serif;
    padding: 20px 0px 10px 0px;
}

.components {
    align-self: center;
    background-color: rgba(218, 191, 231, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    font-weight: 400;
    grid-area: components;
    justify-self: start;
    padding: 8px 10px 8px 10px;
}

.components mark {
    margin-right: 3px;
}

.components mark:not(:first-child) {
    margin-left: 2px;
}

.section-1b {
    display: grid;
    gap: 0px 0px;
    grid-area: section-1b;
    grid-auto-flow: row;
    grid-auto-flow: row;
    grid-template-areas:
        "meaning-notes";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.meaning-notes {
    color: #3d3d3d;
    font-size: 0.9em;
    grid-area: meaning-notes;
}

/** MARK: Reading Section
*/
.reading-container {
    display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section-3a"
        "section-3b";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-bottom: 1em;
}

.section-3a {
    display: grid;
    gap: 0px 0px;
    grid-area: section-3a;
    grid-auto-flow: row;
    grid-template-areas:
        "rdgs-table rdgs-table section-name"
        "rdgs-table rdgs-table section-name"
        "rdgs-table rdgs-table section-name";
    grid-template-columns: repeat(2, auto) 40px;
    grid-template-rows: repeat(3, auto);
}

.rdgs-table {
    display: flex;
    flex-direction: column;
    font-size: .8em;
    grid-area: rdgs-table;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.rdgs-theader {
    display: flex;
    font-weight: bold;
}

.rdgs-tbody {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rdgs-theader-left,
.rdgs-theader-right,
.rdgs-tbody-left,
.rdgs-tbody-right {
    box-sizing: border-box;
    flex: 1;
    padding: 3px 0px;
}

.on-rdng-container,
.kun-rdng-container {
    display: flex;
    flex: 1;
    margin-bottom: 5px;
    min-width: 0;
    overflow: hidden;
}

.on-rdng-box,
.kun-rdng-box {
    align-self: center;
    background-color: rgba(218, 191, 231, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    font-family: "Noto Serif JP", serif;
    font-size: 0.9em;
    justify-self: start;
    margin: 0px 4px 2px 0px;
    padding: 2px 6px;
}

.section-3b {
    display: grid;
    gap: 0px 0px;
    grid-area: section-3b;
    grid-auto-flow: row;
    grid-auto-flow: row;
    grid-template-areas:
        "reading-notes";
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.reading-notes {
    color: #3d3d3d;
    font-size: 0.9em;
    grid-area: reading-notes;
}