/* Anki - Kanji Card - Glass Panes - r1.1 */
/* github.com/WrinkleRelease */

/** # MARK: Pull In Fonts 
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

/** # MARK: Breakpoints
*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .prompt {
        font-size: 4em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.0em;
    }


    .section-1a,
    .section-2a,
    .section-3a {
        padding: 15px 1.5em 10px 1.5em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.5em 1.7em 1.5em;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .prompt {
        font-size: 5em;
        margin-top: -15px;
    }

    .meaning {
        font-size: 1.2em;
    }

    .section-1a,
    .section-2a,
    .section-3a {
        padding: 15px 1.7em 10px 1.7em;
    }

    .section-1b,
    .section-2b,
    .section-3b {
        padding: 0px 1.7em 1.7em 1.7em;
    }

}

*,
:after,
:before {
    box-sizing: border-box;
}

.card {
    text-align: center;
    font-family: "Noto Sans", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
}

/** MARK: Color Variables
*/
:root {
    --color-translations: rgba(255, 255, 255, 0.75);
    --color-main-text: #1d1d1d;
    --color-radical: #58bffc;
    --color-radical-dark: #0093dd;
    --color-radical-gradient: linear-gradient(to bottom,
            var(--color-radical),
            var(--color-radical-dark));
    --color-kanji: #ff00aa;
    --color-kanji-dark: #dd0093;
    --color-kanji-gradient: linear-gradient(to bottom,
            var(--color-kanji),
            var(--color-kanji-dark));
    --color-vocab: #9735c9;
    --color-vocab-dark: #9300dd;
    --color-vocab-gradient: linear-gradient(to bottom,
            var(--color-vocab),
            var(--color-vocab-dark));
    --color-reading: #555;
    --color-reading-dark: #484848;
    --color-reading-gradient: linear-gradient(to bottom,
            var(--color-reading),
            var(--color-reading-dark));
    --type-shadow-1: 0px 0px 3px rgba(18, 15, 15, 0.2),
        1px 1px 4px rgba(215, 215, 215, 0.2);
}

/** MARK: Color Highlighting
*/
.no-break {
    white-space: nowrap;
    white-space-collapse: collapse;
    text-wrap: nowrap;
}

mark {
    color: #ffffff;
    font-size: inherit;
    border-radius: 4px;
    display: inline-block;
    line-height: 0.95em;
    padding: 3px 3px 4px 3px;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    white-space: nowrap;
    text-wrap: nowrap;
}

mark.kanji {
    font-family: "Noto Sans JP";
    background: var(--color-kanji-gradient);
}

mark.radical {
    background: var(--color-radical-gradient);
}

mark.vocab {
    background: var(--color-vocab-gradient);
}

mark.rdng {
    background: var(--color-reading-gradient);
}

/** MARK: Front
*/
.front {
    background-color: var(--color-kanji);
    border-radius: 20px;
    color: #fafafa;
    padding: 5px 10px 6px 10px;
    border-radius: 30px;
}

input[type="text"] {
    width: 100%;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 12px 0px;
    border-radius: 10px;
    font-size: 1.2em;
}

.typed-answer {
    font-family: "Fira Mono", monospace;
    font-weight: "300";
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.input-instructions {
    font-family: "Noto Sans", "Arial";
    text-align: left;
    font-size: 1rem;
}

/** MARK: Back
*/
.back {
    background-image: url("_bg-bluepaper01.jpg");
    background-size: 30%;
    background-color: #a2b8bc;
    border-radius: 20px;
    color: #4d4d4d;
    padding: 0px 0px 30px 0px;
}

.meaning-container,
.stroke-order-container,
.reading-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0px 0px;
    text-align: left;
}

.section-1a,
.section-2a,
.section-3a {
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
}

.section-1b,
.section-2b,
.section-3b {
    grid-auto-flow: row;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.body-content,
.hintsBox {
    line-height: 1.5em;
}

.hints-box {
		font-family: "Fira Mono", monospace;
    font-size: 0.8em;
    border-radius: 15px;
		border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
		padding: ;
}

.hints-box .title {
    font-weight: bold;
}

.section-name {
    grid-area: section-name;
    display: start;
    place-self: start;
    font-family: "Fira Mono";
    font-size: 0.7em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
    writing-mode: vertical-lr;
    padding: 10px 10px 10px 10px;
}

/** MARK: Meaning Section
*/
.meaning-container {
    display: grid;
    grid-template-areas:
        "section-1a"
        "section-1b";
    margin-bottom: 20px;
}

.section-1a {
    display: grid;
    grid-template-columns: 5em auto 30px;
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "prompt sub-container section-name"
        "components components section-name";
    grid-area: section-1a;
}

.sub-container {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: row;
    grid-template-areas:
        "meaning"
        "reading";
    padding: 10px 0px 10px 0px;
    grid-area: sub-container;
}

.meaning {
    justify-self: left;
    align-self: end;
    display: block;
    grid-area: meaning;
    font-family: "Noto Sans", sans-serif;
    color: #3d3d3d;
    font-weight: 800;
}

.reading {
    justify-self: left;
    align-self: start;
    display: block;
    grid-area: reading;
    font-family: "Noto Serif JP", serif;
}

.prompt {
    grid-area: prompt;
    font-family: "Noto Sans JP", sans-serif;
    color: var(--color-kanji);
    font-weight: 500;
    place-self: start;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.front>.prompt {
    color: #ffffff;
    padding: 20px 0px 10px 0px;
}

.components {
    grid-area: components;
    font-weight: 400;
    font-size: 0.8em;
    color: #2d2d2d;
    background-color: rgba(218, 191, 231, 0);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    justify-self: start;
    align-self: center;
    border-radius: 10px;
    padding: 8px 10px 8px 10px;
}

.components mark {
    margin-right: 3px;
}

.components mark:not(:first-child) {
    margin-left: 2px;
}

.section-1b {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "meaning-notes";
    grid-area: section-1b;
}

.meaning-notes {
    grid-area: meaning-notes;
    font-size: 0.9em;
    color: #3d3d3d;
}


/** MARK: Stroke Order
*/
.stroke-order-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section-2a"
        "section-2b";
    margin: 0 auto;
    margin-bottom: 20px;
}

.section-2a {
    display: grid;
    grid-template-columns: auto 30px;
    grid-template-rows: auto;
    grid-template-areas:
        ". section-name";
    gap: 0 0px;
    grid-auto-flow: row;
    grid-area: section-2a;
}

.section-2b {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "stroke-order-img";
    gap: 0 0px;
    grid-auto-flow: row;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    grid-area: section-2b;
}

.stroke-order-img {
    grid-area: stroke-order-img;
    width: 200px;
}

/** MARK: Reading Section
*/
.reading-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "section-3a"
        "section-3b";
    margin-bottom: 1em;
}

.section-3a {
    display: grid;
    grid-template-columns: repeat(2, auto) 30px;
    grid-template-rows: repeat(3, auto);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "rdgs-table rdgs-table section-name"
        "rdgs-table rdgs-table section-name"
        "rdgs-table rdgs-table section-name";
    grid-area: section-3a;
}

.section-3b {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "reading-notes";
    grid-area: section-3b;
}

.reading-notes {
    grid-area: reading-notes;
    font-size: 0.9em;
    color: #3d3d3d;
}

.rdgs-table {
    display: table-row-group;
    color: var(--color-hintsBox);
    font-size: .8em;
    border-radius: 6px;
    text-align: left;
    border-collapse: collapse;
    grid-area: rdgs-table;
}

.rdgs-theader {
    display: table-header-group;
    grid-area: rdgs-table-head;
    font-weight: bold;
}

.rdgs-tbody {
    display: table-row;
}

.rdgs-tbody-left,
.rdgs-tbody-right {
    border: 0px;
    display: table-cell;
    padding: 3px 10px;
}

#on-rdng-container {
    margin-bottom: 5px;
}

#kun-rdng-container {
    margin-bottom: 5px;
}

.on-rdng-box {
    font-family: "Noto Serif JP";
    font-kerning: normal;
    font-size: 1.0em;
    border: solid 1px brown;
    border-radius: 5px;
    text-align: left;
    border-color: #d1beaf;
    padding: 3px 3px 1px 3px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-flex;
}

.kun-rdng-box {
    font-family: "Noto Serif JP";
    font-kerning: normal;
    font-size: 1.0em;
    border: solid 1px brown;
    border-radius: 5px;
    text-align: left;
    border-color: #d1beaf;
    padding: 3px 3px 1px 3px;
    margin-right: 5px;
    margin-bottom: 2px;
    display: inline-flex;
}


/** MARK: Tag Containers
*/
.tag-box {
    display: inline-block;
    font-family: "Fira Mono", monospace;
    color: var(--color-main-text);
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: -2px 1px 5px rgba(0, 0, 0, 0.2) inset;
    font-size: 0.6em;
    padding: 5px 15px 5px 15px;
    margin: 0px 5px 0px 0px;
}

#tags-container {
    margin: 0px 20px 0px 20px;
}

/** MARK: Front Reading Hints
*/
.button {
    padding: 4px 16px;
    margin-bottom: 10px;
}

button:after {
    font-size: 18px;
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    content: "Show reading hint";
}

.r-hint-box {
    border: dashed 1px;
    border-radius: 5px;
    margin: 10px 30px 10px 30px;
    padding: 0px 15px 0px 15px;
    border-color: #222;
    background-color: #777;
}

.r-hint-text {
    font-size: 18px;
    padding: 10px 0px 10px 0px;
    color: #fff;
}

.ipad .r-hint-text {
    font-size: 1em;
    padding: 10px 0px 10px 0px;
    color: #fff;
}